# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual envs
.env/
venv/
*.egg-info/

# Logs & local data
logs/
logs_eval/
logs_save/

# Large dataset & archives – keep them out of Git (use Git LFS if needed)
*.zip
*.rar

# IDE
.vscode/
.idea/
